<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeaderViewImageViewToBig.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06ED4CD41EF7B1C200FF9200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06ED4CED1EF7B1C200FF9200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06ED4CF81EF7B1C200FF9200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
